debug: false
management.endpoints.web.exposure.include: "*"

logging:
  level:
    com.com.fastcampus.projectboard: debug
    org.springframework.web.servlet: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

spring:
  datasource:
    url: jdbc:mysql://152.67.221.203:3306/KurtDB
    username: kurt
    password: Samplekurt!2
    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:h2:mem:testdb
#    username: sa
#    driver-class-name: org.h2.Driver
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true # 한줄로 보여지는 쿼리문을 포매팅해서 예쁘게 보임
        default_batch_fetch_size: 100 # N+1 쿼리문을 해결하기 위한 방법중 하나임. 나중에 100개로 묶어서 처리(?)

#  h2.console.enabled: true
  sql.init.mode: always

---

#spring:
#  config.activate.on-profile: testdb
#  datasource:
#    url: jdbc:h2:mem:KurtDB;mode=mysql
#    driverClassName: org.h2.Driver
#  sql.init.mode: always
#  test.database.replace: none
